<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by NeimadTL</a>. Developer who are on a mission to facilitate people's daily life making softwares.
  </p>


  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'bg.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">NeimadTL</h2>
    <br />
    <p>
      This is the beach NeimadTL put in his mind everyday to feel good, peaceful and happy
      (Now in UK, was in France before but come from Guadeloupe).
    </p>
  </div>
  <br class="clear" />
  <br />
  <br />
  <br />
  <br />
  
</div>